<button {{action 'login'}} class="{{@styles}}">
  {{yield}}
</button>
{{#if isAuthenticating}}
  <AuLoader @size="small" />
{{/if}}
{{#if errorMessage}}
  <AuAlert @alertIcon="alert-triangle" @alertsize="small" @alertTitle={{errorMessage}} @alertskin="error" />
{{/if}}
