<button type="button" {{on 'click' this.login}} class={{@styles}}>
  {{yield}}
</button>
{{#if this.isAuthenticating}}
  <AuLoader @size="small" />
{{/if}}
{{#if this.errorMessage}}
  <AuAlert @alertIcon="alert-triangle" @alertsize="small" @alertTitle={{this.errorMessage}} @alertskin="error" />
{{/if}}
