{{#power-select
   allowClear=allowClear
   disabled=disabled
   placeholder="Koningin Maria Hendrikaplein 70, Gent"
   search=(perform search)
   selected=_address
   onchange=(action "select")
   loadingMessage="Aan het laden..."
   noMatchesMessage="Geen resultaten"
   searchMessage="Typ om te zoeken"
   as |address|}}
  {{address.FormattedAddress}}
{{/power-select}}

{{#if addressUncomplete}}
  <div>
    Vul een volledig adres in.
  </div>
{{/if}}
