<div class="col--1-1--s delete-me-function-edit-new container-flex--contain">
  <div class="container-flex--contain">
    <div class="col--1-1--s delete-me-function-edit-new container-flex--contain">
      {{leidinggevendenbeheer/functionaris-creation-header
        cancel=(action "cancel")
      }}
      <div class="u-padding--rl--small u-border--light--bottom">
        <div class="col--7-12">
          <h2 class="h3">1. Kies een functionaris</h2>
        </div>
      </div>
      {{mandatenbeheer/persoon-search-form
        newPersoonRoute='leidinggevendenbeheer.functionarissen.new.create-persoon'
        showDefaultHead=false
        onCancel=(action "cancel")
        onSelect=(action "setPersoon")}}
      <div class="u-padding--round--small u-border--light--top">
        {{wu-button isNarrow=true isAlt=true onClick=(action "cancel") label="Annuleer"}}
      </div>
    </div>
  </div>
</div>