<div class="grid">
    <div class="col--9-12">
        <h3>Nieuw Bericht</h3>
    </div>
    <div class="col--3-12 u-align--right">
        <a  {{action "closeVenster"}} class="link--icon--close">
        <span class="u-visually-hidden">Venster sluiten</span>
        </a>
    </div>
</div>
