<div class="modal-dialog modal-dialog--sectioned">
  <div class="modal-dialog__header">
    <div class="grid">
      <div class="col--10-12">
        <h2 class="h3">Configureer berichtencentrum</h2>
      </div>
      <div class="col--2-12 u-align-right"><a class="link--icon--close modal-overlay-configure-berichtencentrum u-hidden" href="#"><span class="u-visually-hidden">Venster sluiten</span></a></div>
    </div>
  </div>
  <div class="modal-dialog__content">
    <h3 class="h4 u-spacer--small">Mail instellingen</h3>
    <div class="form__row">
      <div class="form__label">
        <label class="checkbox checkbox--block">
          <input class="checkbox__toggle" type="checkbox" name="checkbox" value="1" checked=""><span></span><span>Ontvang mails bij nieuwe berichten</span>
        </label>
      </div>
    </div>
    <div class="form__row">
      <div class="form__label">
        <label>Mailadres</label>
        {{input class="input-field input-field--block" placeholder="mail@adres.com" value=emailAddress}}
      </div>
    </div>
  </div>
  <div class="modal-dialog__footer">
    {{wu-button  label="Bewaar"    isNarrow=true onClick=(action "commit")  isAlt=false}}
    {{wu-button  label="Annuleer"  isNarrow=true onClick=(action cancel)    isAlt=true}}
    <a class="modal-dialog__button delete-me-toggle-configure-berichtencentrum" {{action cancel}}>
      <i class="vi vi-cross vi-u-link"></i>Verwerp wijzigingen
    </a>
  </div>
</div>

