<div class="modal-dialog modal-dialog--sectioned">
  <div class="modal-dialog__header">
    <div class="grid">
      <div class="col--10-12">
        <h2 class="h3">Configureer berichtencentrum</h2>
      </div>
      <div class="col--2-12 u-align-right"><button class="link--icon--close modal-overlay-configure-berichtencentrum u-hidden"><span class="u-visually-hidden">Venster sluiten</span></button></div>
    </div>
  </div>
  <div class="modal-dialog__content">
    <h3 class="h4 u-spacer--small">Mail instellingen</h3>
    <div class="form__row">
      <div class="form__label">
        <label class="checkbox checkbox--block">
          {{input class="checkbox__toggle" type="checkbox" checked=wilMailOntvangen}}
          <span></span>
          <span>Ontvang mails bij nieuwe begrichten</span>
        </label>
      </div>
    </div>
    {{#if wilMailOntvangen}}
      <div class="form__row u-spacer--bottom--tiny">
        <div class="form__label">
          <label>Mailadres</label>
          {{input class="input-field input-field--block" placeholder="mail@adres.com" value=emailAddress}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="modal-dialog__footer">
  	<div class="button-group u-spacer--bottom--tiny">
	    {{wu-button label="Bewaar" onClick=(action "commit") isAlt=false}}
	    {{wu-button label="Sluit venster" onClick=close isAlt=true command='Verwerp wijzigingen' commandLocation='below'}}
	  </div>
  </div>
</div>
