<div class="col--1-12 u-align-right">
    <span class="js-accordion__toggle js-accordion-bound" type="button">
        <i class="vi vi-expand vi-u-s" aria-hidden="true"></i>
        <span class="u-visually-hidden">Toon / verberg bericht</span>
    </span>
</div>