/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==================================
   #TEMPORARY GENERAL DISABLED STATE FOR FORM
   ================================== */

// TODO: enable and add new styles so the Appuniversum components look disabled as well
// .au-c-form--disabled {
//   .ember-basic-dropdown-trigger,
//   .au-c-textarea,
//   .au-c-input,
//   .au-c-textarea--error,
//   .au-c-input--error,
//   .ember-power-select--error .ember-power-select-trigger,
//   .au-c-date-picker-container--error .input-field--datepicker {
//     background-color: $au-input-disabled-background-color;
//     border-color: $au-input-disabled-border-color;
//     color: $au-input-disabled-color;
//     cursor: not-allowed;
//     pointer-events: none;
//   }

//   .au-c-help-text--error {
//     color: $au-input-disabled-color;
//     pointer-events: none;
//   }

//   .au-c-label--error:before {
//     background-color: $au-input-disabled-color;
//   }

//   .au-c-button {
//     background: $au-input-disabled-color;
//   }
// }

// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

.au-c-toolbar + .au-c-toolbar {
  padding-top: 0;
}

// Small
.au-c-small-text {
  @include au-font-size($au-base);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-800;
}

// Info text
.au-c-info-text {
  @include au-font-size($au-base);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-700;
  font-style: italic;
}

// Descriptions > @todo: replace with label and p
.au-c-description-label {
  @include au-font-size($au-h6);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-600;
}

.au-c-description-value {
  @include au-font-size($au-h5);
  font-family: $au-font;
  font-weight: $au-medium;
  color: $au-gray-800;
}


// Close button
.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}


// Vertical list
.au-c-list-vertical__item {
  & + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: .1rem solid $au-gray-200;
  }

  .au-c-collapsible & + & {
    margin-top: $au-unit-tiny;
    padding-top: $au-unit-tiny;
    border-top-color: $au-gray-300;
  }
}


// Toggle button
.au-c-button--toggle {
  padding-left: 0;
  padding-right: 0;

  .au-c-icon {
    transition: transform $au-transition, color $au-transition;
  }

  .js-accordion--open & .au-c-icon {
    transform: rotate(180deg);
  }
}

// Accordion
.au-c-collapsible {
  display: none;
  overflow: hidden;
  padding: $au-unit-small;
  background-color: $au-gray-200;
  margin-top: $au-unit-small;

  .js-accordion--open & {
    display: block;
  }
}

// Table
.au-c-table-wrapper {
  flex-grow: 999;
  overflow: auto;
  position: relative;
  border-top: 1px solid $au-gray-300;
  width: 100%;
}

.au-c-table {
  @include au-font-size($au-base);
  position: relative;
  min-width: 70rem;
  width: 100%;
  border-collapse: collapse;

  thead {
    border-top: .2rem solid $au-gray-300;
    border-bottom: .2rem solid $au-gray-300;
  }

  tbody {
    border-bottom: .2rem solid $au-gray-300;
  }

  th,
  strong {
    font-weight: $au-medium;
  }

  thead th {
    color: $au-gray-600;
  }

  tbody th,
  td,
  strong {
    color: $au-gray-800;
  }

  th,
  td {
    vertical-align: top;
  }

  th {
    font-weight: $au-medium;
    text-align: left;
    padding: $au-unit-tiny $au-unit-small;
    border-radius: 0;
  }

  td {
    padding: $au-unit-small;
  }

  th:first-child,
  td:first-child {
    padding-left: $au-unit;
  }

  th:last-child,
  td:last-child {
    padding-right: $au-unit;
  }

  thead th,
  tbody th {
    border-right: .2rem solid $au-gray-300;
  }

  thead th:last-child,
  tbody th:last-child {
    border-right: 0;
  }

  tbody td {
    border-right: .2rem solid $au-gray-300;
  }

  tbody td:last-child {
    border-right: 0;
  }

  thead tr + tr {
    border-top: .2rem solid $au-gray-300;
  }

  tbody tr + tr {
    border-top: .1rem solid $au-gray-300;
  }
}

.au-c-table--zebra {
  tbody tr:nth-child(odd) {
    background-color: $au-gray-100;
  }

  tbody tr:nth-child(even) {
    background-color: $au-white;
  }
}

.au-c-table__row-indent {
  th:first-child,
  td:first-child {
    padding-left: $au-unit-small;
  }
}

.u-table-cell-shrink-content {
  width: 1px !important;
}

.say-content ul {
  margin-left: $au-unit-small + $au-unit-tiny;
}

/*
  These are all .data-table related styles that could be found in the `vlaanderen-ui-blessed.css` file
  and were cleaned with purgecss afterwards, so only the classes we actually use here remain.
  Once all tables have been converted to the Appuniversum table classes we can simply remove this file.
*/

.data-table {
  width: 100%;
  max-width: 100%;
}

.data-table thead tr {
  border-bottom: 3px #ccc solid;
}

.data-table tbody tr {
  border-bottom: 1px #ccc solid;
}

.data-table td,
.data-table th {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.3;
  vertical-align: top;
  padding: 1.2rem 1rem;
}

@media screen and (max-width: 767px) {
  .data-table td,
  .data-table th {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.data-table td:first-child,
.data-table th:first-child {
  border-left: 0;
}

.data-table th {
  font-weight: 500;
}

.data-table.data-table--zebra tbody tr:nth-child(odd) {
  background-color: #f3f5f6;
}

.ember-power-select-multiple-options > li {
  width: 100%;
}

// Mock login styles
.mock-account-button {
  display: block; // AuButtons are inline-flex by default
  line-height: normal;
  height: auto; // override the fixed height of the button height
  border: .1rem #c6cdd3 solid;
}

// Based on the Tailwind class: https://tailwindcss.com/docs/height#full-height
.h-full {
  height: 100% !important;
}


// AuContent additions
// TODO: remove once this is part of Appuniversum
.au-c-content a {
  @extend .au-c-link;
}
