/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

// Override data table actions
.data-table__actions { // reformat
  padding: 0;
}

// Override typography
.loket-onderdeel__header .h3,
.loket-onderdeel__header .h4 {
  font-weight: 400;
}

sup {
  line-height: 0.5;
  vertical-align: text-top;
  font-size: smaller;
}

// Temporary focus overrides for focus area's
// @TODO: discuss where to put this or how to fix this focus style.
#main:focus,
#content:focus {
  outline: 0;
}

// Fixes light font-weights conflict with appuniversum
// @TODO: remove when webuniversum is replaced by appuniversum
.text-fade,
.text-light {
  font-weight: 400;
}

.input-field::placeholder {
  font-weight: 400 !important;
}

.input-field::-webkit-input-placeholder {
  font-weight: 400 !important;
}

.input-field::-moz-placeholder {
  font-weight: 400 !important;
}

.input-field:-ms-input-placeholder {
  font-weight: 400 !important;
}


// Fix container height and scrolling
// @TODO: fix in container component and/or remove .container-flex--contain
.au-c-main-container {
  .au-o-grid {
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  @include mq(small) {
    .au-o-grid {
      align-items: stretch;
      height: 100%;
    }

    .au-c-form .au-o-grid {
      align-items: flex-start;
      height: initial;
    }
  }
}

.au-c-main-container__content {

  @include mq(medium) {
    overflow: hidden;
    height: calc(100vh - #{$au-unit-large - $au-unit-tiny});

    > .grid {
      height: calc(100vh - #{$au-unit-large - $au-unit-tiny});
    }

    > .grid > div > .container-flex--contain {
      position: relative;
      overflow: auto;
      height: calc(100vh - #{$au-unit-large - $au-unit-tiny});
    }
  }
}

// Fix ACMIDM login alerts/loading in header
// @TODO: rework ACMIDM components to work with appuniversum classes
.au-c-main-header__actions .alert {
  position: absolute;
  right: $au-unit-small;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .u-padding--round--small {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - $au-unit-tiny/2;
  padding: 0;
  background-color: $au-white;

  .loader-wrapper {
    padding: 0;
  }
}

// Fix app title width overflow
// @TODO: port to brand component
.au-c-main-header__title.au-c-main-header__title--link {
  max-width: $au-unit-huge;

  @include mq(xsmall) {
    max-width: $au-unit-huge*1.5;
  }

  @include mq(small) {
    max-width: $au-unit-huge*2;
  }

  @include mq(medium) {
    max-width: initial;
  }
}

/* ==================================
   #COPY FROM FRONTEND-MELDINGSPLICHTIGE-API
   ================================== */

th {
  background-color: white;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: $au-gray-100;
}

.triple table {
  border-collapse: collapse;
}

.triple table, .triple th, .triple td {
  border: 1px solid black;
}

/* ==================================
   #NON-EDITABLE
   ================================== */

/* Variables
   ========================================================================== */

$au-non-editable-background    : $au-gray-100 !default;

/* Modifiers
   ========================================================================== */

.au-c-form--non-editable {
  background-color:  $au-non-editable-background;
  max-width: 100%;

  table {
    max-width: 100%;
    width: 100%;

    td {

    }
  }
}

/* ==================================
   #POWER SELECT
   ================================== */

.ember-power-select-trigger {
  min-height: 3.6rem;
}

/* Modifiers
   ========================================================================== */

.ember-power-select--error .ember-power-select-trigger {
  border: .3rem solid $au-red-600;
}

/* ==================================
   #DATE PICKER
   ================================== */

/* Modifiers
   ========================================================================== */

.au-c-date-picker-container .datepicker {
  width: auto;

  .input-field {
    width: 100%;
  }

  .datepicker__icon {
    right: 1.5rem;
  }
}


.au-c-date-picker-container--error .input-field--datepicker {
  border: .3rem solid $au-red-600;
}

/* ==================================
   #CHECKBOX
   ================================== */

/* Modifiers
   ========================================================================== */

.checkbox {
  margin-right: 0;
  min-height: 1.5rem;
}

/* ==================================
   #TEMPORARY GENERAL DISABLED STATE FOR FORM
   ================================== */

.au-c-form--disabled {
  .ember-basic-dropdown-trigger,
  .au-c-textarea,
  .au-c-input,
  .au-c-textarea--error,
  .au-c-input--error,
  .ember-power-select--error .ember-power-select-trigger,
  .au-c-date-picker-container--error .input-field--datepicker {
    background-color: $au-input-disabled-background-color;
    border-color: $au-input-disabled-border-color;
    color: $au-input-disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }

  .au-c-help-text--error,
  .upload__element__label {
    color: $au-input-disabled-color;
    pointer-events: none;
  }

  .au-c-label--error:before {
    background-color: $au-input-disabled-color;
  }

  .au-c-button{
    background: $au-input-disabled-color;
  }
}

/* ==================================
   #TEMPORARY EMBER DROPDOWN STYLING
   ================================== */

.ember-power-select-trigger.ember-basic-dropdown-trigger.ember-view.ember-power-select-trigger--active {
  outline: none;
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 .1rem $au-yellow-400;
}

/* ==================================
   #TEMPORARY DISABLE YEAR PICKER IN DATEPICKER
  this datepicker is part of webuniversum and the year picker requires setting an end- and start date to use the year picker.
   ================================== */

.pika-label + .pika-label {
  pointer-events: none;
  text-decoration: none;
  color: $au-gray-900;
}

/* ==================================
  #IE 11 appuniversum fixes
  @TODO: update in appuniversum
  ================================== */

.au-c-alert__content {
  display: block;
}

div:focus,
span:focus,
table:focus,
td:focus {
  outline: 0 !important;
}

.checkbox + .au-c-label {
  display: inline-block;
}


// Ember a11y refocus
#ember-a11y-refocus-nav-message {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
