@import 'ember-vo-webuniversum-data-table';
@import 'ember-power-select';
@import 'ember-vo-webuniversum';

@import 'document-status-pills';
@import 'generated-forms';
@import 'subbar-navigation';

.data-table__actions { // reformat
  padding: 0;
}

.loket-onderdeel__header .h3,
.loket-onderdeel__header .h4 {
	font-weight: 400;
}

sup {
	line-height: 0.5;
	vertical-align: text-top;
	font-size: smaller;
}
