/* User toggle — move when is used in other apps too
 ========================================================================== */

/* make sure positioning of element is correct in sidebar */

.user-toggle nav {
	display: flex;
	cursor: pointer;
	min-width: 0;
	flex-direction: column;
}

/* style username and label */

	.user-toggle__name--label {
		display: block;
		font-size: 1.3rem;
		line-height: 1.2;
		color: $gray;
		margin: 0.5rem 0;
		padding-right: 1.9rem;
	}

	.user-toggle__name {
		flex: 1;
		margin-bottom: 0.5rem;

		line-height: 1.2;
		font-size: 1.5rem;
		// font-weight: 400;
		font-family: flanders-sans, sans-serif;

		transition: all 200ms;
	}

	/* truncate username hover animation */

	.user-toggle {

		.js-popover--open .user-toggle__name--alt,
		&:hover .user-toggle__name--alt {
			white-space: inherit;
			overflow: visible;
			text-overflow: inherit;

			max-height: 10rem;

			transition: all 200ms;
		}

		&:hover .vi-u-badge {
			background-color: $primary-blue;
			color: $white;
    }

    &:focus-within {
      outline: 2px solid $orange;
      outline-offset: .5rem;
    }
	}

/* position toggle button for sidebar */

	.js-popover__toggle {
		position: relative;
	}

	.user-toggle__name {

		+ button {
			position: absolute;
			right: -0.3em;
			top: 0rem;
		}
	}


/* style width and links popover for sidebar */

.popover__content {
	max-width: 20rem;
}

.popover__link {
	line-height: 1;

	i {
		vertical-align: top;
		width: 15%;
		display: inline-block;
	}

	span {
		width: 80%;
		display: inline-block;
	}
}
