<div class="modal-overlay modal-overlay-save">
  <div class="modal-dialog">
    <h2 class="modal-dialog__title">Wil u de aangebrachte wijzigingen bewaren?</h2>
    <div class="modal-dialog__content u-spacer">De wijzigingen zullen verloren gaan als u niet op bewaren klikt.</div>
    <AuButton {{on "click" (action save)}}>
      Bewaar
    </AuButton>
    <AuButton @skin="secondary" {{on "click" (action cancel)}}>
      Annuleer
    </AuButton>
    <AuButton @skin="secondary" {{on "click" (action reset)}}>
      Verwerp wijzigingen
    </AuButton>
  </div>
</div>