/* ==================================
   #BODY CONTAINER
   Handle scroll in application details
   ================================== */

// Body container draft component
.au-c-body-container {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;

  // Temporary fix for old elements {
  .grid,
  .loader-wrapper {
    flex-grow: 1;
  }
}

.au-c-body-container__fixed {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}

.au-c-body-container__scroll {
  height: 100%;
  position: relative;
  overflow: auto;
}
