/* Remote data object field of localised ember-submission-form-fields */

.remote-data-object-list-card {
  background-color: var(--au-white);
  border: 0.1rem solid var(--au-gray-300);
  border-radius: var(--au-radius);
}

.remote-data-object-list-card .au-c-icon {
  /* This prevents the icon from shrinking if the container is too small. It should probably be moved to Appuniversum */
  flex-shrink: 0;
}
