// Specific styling for LPDC RDF form
.au-c-rdf-form {
  .au-c-heading--2 {
    @include au-font-size($au-heading-3-small);

    @include mq(small) {
      @include au-font-size($au-heading-3);
    }
  }

  .au-c-heading--3 {
    @extend .au-c-heading--4;
  }

  > .au-o-grid {
    margin: 0;
  }

  > .au-o-grid > .au-o-grid__item {
    padding: $au-unit !important;
    margin: 0;
  }

  > .au-o-grid > .au-o-grid__item + .au-o-grid__item {
    border-top: 1px solid var(--au-gray-200);
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid + .au-o-grid {
    border-top: 1px dotted var(--au-gray-300);
    margin-top: $au-unit;
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5,
  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item > div > .au-o-grid > .au-o-grid__item.au-u-4-5,
  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-1-5,
  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item > div > .au-o-grid > .au-o-grid__item.au-u-1-5 {
    width: 100% !important;
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item.au-u-4-5 .au-c-input {
    width: 100%;
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item.au-u-1-5,
  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-o-grid__item.au-u-4-5 > div .au-o-grid__item.au-u-4-5 > .au-o-grid > .au-o-grid__item.au-u-1-5 {
    padding-left: 0 !important;
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item.au-u-1-5 .au-c-button--link,
  > .au-o-grid > .au-o-grid__item > .au-o-grid > .au-u-4-5 > .au-o-grid > .au-o-grid__item.au-u-4-5 .au-c-button--link {
    @extend .au-c-button--block;
    height: 100%;
    border: 1px solid var(--au-gray-200);
    background-color: var(--au-gray-100);

    &,
    &:visited {
      color: $au-button-alert-contrast-color;
      text-decoration-color: var(--au-red-300);
    }

    &:hover,
    &:focus,
    &:active {
      color: $au-button-alert-contrast-hover-color;
      text-decoration-color: var(--au-red-400);
    }
  }

  > .au-o-grid > .au-o-grid__item > .au-o-grid .au-u-1-5 .au-c-button--primary {
    @extend .au-c-button--block;
    @extend .au-c-button--secondary;
  }
}
