$tab-navigation-link-bar-height: .3rem;
$tab-navigation-tab-padding: $au-unit-small;
$tab-navigation-font-size: 1.8rem;

.tab-navigation {
  border-bottom: 1px solid var(--au-gray-200);
}

.tab-navigation__tab-list {
  display: flex;
  padding: 0 $tab-navigation-tab-padding;
}

.tab-navigation-tab__link {
  color: var(--au-blue-700);
  display: block;
  font-size: $tab-navigation-font-size;
  font-weight: var(--au-medium);
  padding: $tab-navigation-tab-padding;
  padding-bottom: $tab-navigation-tab-padding + $tab-navigation-link-bar-height;
  text-decoration: none;
  transition: color var(--au-transition);

  &:hover,
  &:focus {
    color: var(--au-blue-900);
  }

  &:focus {
    outline: var(--au-outline);
  }
}

.tab-navigation-tab__link--active {
  color: var(--au-gray-900);
  pointer-events: none;
  position: relative;

  &:hover,
  &:focus {
    color: var(--au-gray-900);
  }

  &::after {
    background-color: var(--au-gray-900);
    bottom: 0;
    content: '';
    height: $tab-navigation-link-bar-height;
    left: $tab-navigation-tab-padding;
    position: absolute;
    right: $tab-navigation-tab-padding;
  }
}

