/* ==================================
   #CARD EXTENSION
   Extends the default appuniversum card component
   ================================== */

$card-label-width: 20rem; // This has to be wide enough to fit all labels properly
$card-label-whitespace: $au-unit-small;

// Read-only card
.au-c-card--data {
  border-color: $au-gray-100;
  background-color: $au-gray-100;
}

// Columns
.au-c-card-columns {
  margin: -$au-unit-tiny -#{$au-unit};

  @include mq(1279px) {
    margin: -$au-unit-small -#{$au-unit};
    display: flex;
    flex-wrap: wrap;
  }
}

.au-c-card-columns__column {
  padding: $au-unit-tiny $au-unit;

  @include mq(1279px) {
    padding: $au-unit-small $au-unit;
    width: 50%;
  }
}

// Card item
.au-c-card-item {
  display: flex;

  & + & {
    margin-top: $au-unit-small;
  }

  @include mq($until: small) {
    flex-direction: column;
  }
}

.au-c-card-item--align-top {
  @extend .au-u-flex--vertical-start;
}

.au-c-card-item__label {
  width: 100%;

  @include mq(small) {
    flex-basis: $card-label-width;
    flex-shrink: 0;
    margin-right: $card-label-whitespace;
  }
}

.au-c-card-item__label--data {
  font-weight: 500;
  color: $au-gray-600;
}

.au-c-card-item__label--edit {
  @include mq(small) {
    .au-c-label {
      margin-bottom: 0;
    }
  }
}

.au-c-card-item__content {
  width: 100%;

  @include mq(small) {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.au-c-card-item__content--offset {
  @include mq(small) {
    margin-left: $card-label-width + $card-label-whitespace;
  }
}
