<div class="u-padding--round--tiny">
  <div class="grid">
    <div class="col--6-12">
      <p class="u-spacer--tiny">Om een
        <strong>status, fractie, rangorde of bevoegdheid</strong> te veranderen,
        <strong>beëindig</strong> je op de juiste datum, en je
        <strong>start een nieuw mandaat</strong>.</p>
    </div>
    <div class="col--6-12">
      <p class="u-spacer--tiny">Een mandaat dat
        <strong>fouten</strong> bevat, en niet goed ingevoerd werd in het verleden, kan je hier
        <strong>corrigeren</strong>.</p>
    </div>
    <div class="col--6-12">
      <a class="button button--small button--narrow u-spacer--bottom--tiny js-accordion__toggle js-accordion-bound" {{action "terminate"}}>Beïndig mandaat</a>
    </div>
    <div class="col--6-12">
      <a class="button button--small button--narrow button--alt js-accordion__toggle js-accordion-bound" {{action "correct"}}>Corrigeer fouten</a>
    </div>
  </div>
</div>
