<h3 class="h4 title--alt">{{peroon}}</h3>
<div class="grid u-spacer">
  <div class="col--6-12">
    <div class="description-data__label">Rijksregisternummer</div>
    <div class="description-data__value">87041323178</div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Geslacht</div>
    <div class="description-data__value">Man</div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Geboortedatum</div>
    <div class="description-data__value">13-04-1987</div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Roepnaam</div>
    <div class="description-data__value">Johnny</div>
  </div>
</div>
