<div class="u-padding--trl--small u-border--light--bottom">
  <div class="grid">
    <div class="col--9-12">
      <h2 class="h3 u-spacer--bottom--tiny">Bewerk mandaten</h2>
    </div>
    <div class="col--3-12 u-align-right">
      {{#link-to 'mandatenbeheer.mandatarissen' class="link--icon--close"}}
        <span class="u-visually-hidden">Venster sluiten</span>
      {{/link-to}}
    </div>
  </div>
  <div>
    {{mandatenbeheer/persoon-card persoon=persoon}}
  </div>
</div>

<div class="container-flex--scroll u-padding--round--small">
  <h4 class="h6 sans-serif u-spacer--bottom--tiny">Mandaten</h4>
  <div class="alert alert--small alert--warning">
    <div class="alert__content">
      <div class="grid">
        <div class="col--11-12">
          <div class="alert__message">
            <p>Verbeter enkel fouten per mandaat. Voor een <strong>nieuw mandaat of aangepaste status</strong>, <strong>voeg een nieuw mandaat</strong> toe en beëindig het oude mandaat indien&nbsp;nodig.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul>
    {{#each mandatarissen as |mandataris|}}
      {{mandatenbeheer/mandataris-edit
        tagName="li"
        class="u-bg-block u-padding--round--small u-spacer--bottom--small"
        bestuursorganen=bestuursorganen
        mandataris=mandataris
        onSave=(action "mandatarisSaved")
        onCancelCreate=(action "mandatarisCreateCanceled")
      }}
    {{/each}}
  </ul>
  <a class="toggle js-accordion__toggle small link--icon u-spacer--bottom--small js-accordion-bound" {{action "createMandataris"}}>
    <i class="vi vi-plus" aria-hidden="true"></i>Voeg mandaat toe
  </a>


  {{!-- This section is here temporarily for ABB to review all the mandates in August --}}
{{!--
  <div class="alert alert--small alert--success">
    <label class="checkbox checkbox--block">
      <input type="checkbox" name="checkbox" value="0" checked="checked" class="checkbox__toggle"/>
      <span></span>
      <span>De persoon en al de bijbehorende mandaten werden nagekeken.</span>
    </label>
  </div> --}}

</div>
<div class="u-padding--round--small u-border--light--top">
  {{#wu-button class="button button--narrow button--alt" onClick=(action "finish")}}Sluit{{/wu-button}}
</div>
