{{#each this.crumbsForRoute as |crumb|}}
  <li class="au-c-list-horizontal__item" role="menu">
    {{#if crumb.link}}
      <AuLink @route={{crumb.link}} role="menuitem">
        {{crumb.label}}
      </AuLink>
    {{else}}
      <strong role="menuitem">
        {{crumb.label}}
      </strong>
    {{/if}}
  </li>
{{/each}}
