<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    {{#if this.currentSession.canAccessToezicht}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="supervision.submissions">
          <AuIcon @icon="search-folder" @alignment="left" />
          Toezicht
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessBerichten}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="berichtencentrum.berichten">
          <AuIcon @icon="message" @alignment="left" />
          Berichtencentrum
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessBbcdr}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="bbcdr.rapporten">
          <AuIcon @icon="document" @alignment="left" />
          BBC DR
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessMandaat}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen">
          <AuIcon @icon="user-fill" @alignment="left" />
          Mandatenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessLeidinggevenden}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties">
          <AuIcon @icon="user-popup" @alignment="left" />
          Leidinggevendenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessPersoneelsbeheer}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index">
          <AuIcon @icon="users" @alignment="left" />
          Personeelsbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessSubsidies}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @linkRoute="subsidy.applications.index">
          <AuIcon @icon="document" @alignment="left" />
          Subsidie Aanvraag
        </AuNavigationLink>
      </li>
    {{/if}}
  </ul>
</nav>
