{{#if calculateTotals.isRunning}}
  <AuLoader @size="small" />
{{else}}
  <ul class="au-c-list-horizontal au-u-margin-top-small">
    {{#each summary as |entry|}}
      <li class="au-c-list-horizontal__item">
        {{entry.total}} {{entry.label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
