<td>
  {{#if observation}}
    {{input class="input-field input-field--block" type="number" step=step value=observation.value focus-out=(action "setValue") name="quantity"}}
  {{else}}
    {{!-- No observation found --}}
  {{/if}}
</td>
