<div class="au-u-flex--inline au-u-flex--no-wrap au-u-flex--spaced au-u-flex--vertical-center au-u-margin-bottom-tiny">
  <span class="au-u-1-4 au-u-h6">{{@fieldName}} </span>
  <span class="">{{yield}}</span>
</div>
