<div class="au-u-max-width-large" ...attributes>
  {{#if (has-block "title")}}
    <AuHeading
      @level={{or @headingLevel "3"}}
      @skin={{or @headingSkin "5"}}
      class="au-u-margin-bottom-tiny"
    >
      {{yield to="title"}}
    </AuHeading>
  {{/if}}

  <div class="au-o-box au-o-box--small au-c-card au-c-card--fill">
    <div class="au-c-card__content">
      {{yield
        (hash
          Grid=(component
            "card-grid" itemComponent=(component "edit-card/item" isGrid=true)
          )
          Columns=(component
            "card-columns" itemComponent=(component "edit-card/item")
          )
        )
        to="card"
      }}

      {{#if @containsRequiredFields}}
        <AuHelpText @skin="secondary" class="au-u-margin-top">
          * Verplicht veld
        </AuHelpText>
      {{/if}}
    </div>
  </div>
</div>