<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle="Loket voor lokale besturen"
  @contactRoute=""
>
  {{#if this.currentSession.isAdmin}}
    <div class="au-c-list-horizontal__item">
      <ImpersonationMenu />
    </div>
  {{/if}}

  <div class="au-c-list-horizontal__item">
    <div class="c-header-buttons">
      {{#if this.session.isAuthenticated}}
        <HeaderAccount />
      {{else}}
        <AuLink
          @route="login"
          @skin="button"
          @icon="user"
          class="c-header-buttons__login"
        >
          Aanmelden
        </AuLink>
      {{/if}}
      <HeaderHelp />
    </div>
  </div>
</AuMainHeader>