<div
  class="au-o-box au-u-flex au-u-flex--column au-u-flex--vertical-center"
  ...attributes
>
  <AuLoader @padding="small" @disableMessage={{true}} />
  <p class="au-u-para">
    {{~#if (has-block)~}}
      {{yield}}
    {{~else~}}
      Aan het laden
    {{~/if~}}
  </p>
</div>