<li
  class="tab-navigation-tab"
  role="none"
  {{!template-lint-disable no-invalid-role}}
>
  <LinkTo
    @route={{@route}}
    @activeClass="tab-navigation-tab__link--active"
    class="tab-navigation-tab__link"
    role="menuitem"
    {{!template-lint-disable require-context-role}}
  >{{yield}}</LinkTo>
</li>