<div class="power-select">
  {{#power-select
     loadingMessage="Aan het laden..."
     noMatchesMessage="Geen resultaten"
     searchMessage="Typ om te zoeken"
     allowClear=allowClear
     disabled=disabled
     options=options
     search=(perform search)
     selected=internalValue
     onchange=(action "select")
     as |internalValue|}}
    {{get internalValue displayProperty}}
  {{/power-select}}
</div>
