{{page-title @model.site.address.fullAddress}}

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Bewerk vestiging</:title>
      <:subtitle>
        {{@model.site.address.fullAddress}},

      </:subtitle>
    </PageHeader>
  </div>
</div>