{{page-title "Vestiging"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader class="au-o-box">
      <:title>Vestiging:
        {{this.model.selectedSite.address.fullAddress}}
      </:title>
      <:subtitle>{{this.currentSession.user.fullName}}</:subtitle>
    </PageHeader>
  </div>
</div>