<div class="col--1-1--s delete-me-function-edit-new container-flex--contain">
  {{leidinggevendenbeheer/functionaris-creation-header
    cancel=(action "gentleCancel")
  }}
  {{#leidinggevendenbeheer/functionaris-creation-step}}
    1. Voeg een nieuwe functionaris toe
  {{/leidinggevendenbeheer/functionaris-creation-step}}
  {{leidinggevendenbeheer/create-persoon
    onCreate=(action "onCreate")
    onCancel=(action "resetChanges")
    gotoPreviousStep=(action "gotoPreviousStep")
  }}
</div>
