<div class="col--1-1--s delete-me-function-edit-new container-flex--contain">
  <div class="container-flex--contain">
      {{leidinggevendenbeheer/functionaris-creation-header
        cancel=(action "cancel")
      }}
      {{#leidinggevendenbeheer/functionaris-creation-step}}
        1. Kies een functionaris
      {{/leidinggevendenbeheer/functionaris-creation-step}}
      {{mandatenbeheer/persoon-search-form
        newPersoonRoute='leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.functionarissen.new.create-persoon'
        showDefaultHead=false
        onCancel=(action "cancel")
        onSelect=(action "selectPersoon")
        class="col--1-1--s mandate-edit-new container-flex--contain"}}
  </div>
</div>