<div class="col--10-12 col--9-12--m col--1-1--s temporary-spacer">
  <h1 class="h2">Rapporten Toezicht</h1>
  {{#each model as |rapport|}}
    <div class="col--4-12 col--12-12--s">
      {{wu-document-miniature class="u-spacer--bottom" type="CSV"
          label=rapport.filename
          metadata=(concat (moment-format rapport.created 'DD/MM/YYYY HH:mm') " - " rapport.filesizeMb "MB") onClick=(action "download" rapport)}}
    </div>
  {{/each}}
</div>

{{outlet}}