.c-login{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
}

.c-login__content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
  background-color: var(--brand-color);
  color: white;

  &::after{
    --slope-width: 100px;
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * var(--slope-width));
    width: var(--slope-width);
    height: 100%;
    background: var(--brand-color);

    clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
  }

  .au-c-heading, .au-c-link{
    color: white;
  }
}

.c-login__content-container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 550px;
  margin-left: auto;

  & > svg{
    width: 50%;
    max-width: 300px;
  }
}

.c-login__img{
  background-color: beige;
  min-height: 200px;
  height: 100%;
}
