<div class="au-o-box">
  <AuHeading @skin="4">Oeps! Dit is een beetje gênant ...</AuHeading>
  <AuHelpText class="au-u-margin-left-none">
    Het lijkt er op dat er iets is foutgelopen bij het opmaken van dit dossier.
    <br>Indien dit probleem zich blijft voordoen kunt u contact op nemen met
    <a href="mailto:LoketLokaalBestuur@vlaanderen.be"
       class="au-c-link">LoketLokaalBestuur@vlaanderen.be</a>.
  </AuHelpText>
</div>
