<div class="au-u-margin-top-large au-u-margin-left-large au-u-margin-right-large">
  <h1 class="au-u-h3">Dossier aan het laden</h1>
  <div class="au-o-grid">
    <div class="au-o-grid__item">
      <div class="loader"><span class="u-visually-hidden">Aan het laden</span></div>
      </div>
    </div>
</div>
