<div class="au-u-margin-top-large au-u-margin-left au-u-margin-right">
  <h1 class="au-u-h3">Nieuw dossier aan het maken</h1>
  <div class="au-o-grid">
    <div class="au-o-grid__item">
      <div class="loader"><span class="u-visually-hidden">Aan het laden</span></div>
      </div>
    </div>
</div>
