{{title "Toezicht " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="col--12-12">
  <div class="container-flex--contain">
    <div class="u-padding--rl--small u-padding--tb--tiny loket-onderdeel__header u-border--light--bottom"  data-test-mn="inzendingen-page-title-parent-node">
      {{#link-to 'index' class="link link--dark smaller"}}
        &leftarrow; Terug naar modules
      {{/link-to}}
      <div class="grid">
        <div class="col--6-12 col--12-12--s">
      		<h1 class="h4 u-spacer--tb--tinier" data-test-loket="inzendingen-page-title">Toezicht</h1>
        </div>
        <div class="col--6-12 col--12-12--s u-align-right--tablet-portrait-up">
          <WuButtonGroup>
            {{wu-button label="Maak nieuwe melding" onClick=(action "goToNewInzending") isNarrow=true data-test-loket="new-melding-button"}}
          </WuButtonGroup>
        </div>
      </div>
    </div>
    {{toezicht/inzendingen-table class="container-flex--contain" content=model sort=sort page=page size=size}}

  </div>
</div>

{{outlet}}
