<div class="col--4-12 col--9-12--m col--12-12--s container-flex--contain">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12">
        <h2 class="h3">Maak nieuw rapport</h2>
      </div>
      <div class="col--3-12 u-align-right">
        {{#link-to 'bbcdr.rapporten.index' class="link--icon--close"}}
          <span class="u-visually-hidden">Venster sluiten</span>
        {{/link-to}}
      </div>
    </div>
  </div>
  <div>
    <h1>uploaded files</h1>
    {{#each files as |file|}}
    <li>{{file.filename}}</li>
  {{/each}}
  </div>
  <div class="container-flex--scroll u-padding--round--small">
    <div>{{vo-mu-file-dropzone onFinishUpload=(action "addFile")}}</div>
  </div>
  <div class="u-padding--round--small u-border--light--top u-align-right">
    {{#link-to 'bbcdr.rapporten.index' class="button button--narrow button--alt"}}Annuleer{{/link-to}}
    {{wu-link-button label="Bewaar als concept" isNarrow=true isAlt=true onClick=(action 'save')}}
    {{#wu-link-button disabled=(not readyToSend) onClick=null class="u-spacer--tiny"}}Verstuur
      <span class="button__info button__info--below">naar Vlaamse Overheid</span>
    {{/wu-link-button}}
  </div>
</div>
{{outlet}}
