{{page-title "Subsidiebeheer"}}

<AuToolbar @border="bottom" @size="large" @nowrap="{{true}}">
  <AuToolbarGroup>
    <AuHeading @skin="2">Subsidiebeheer</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <div class="au-u-text-right">
      <AuButton @disabled={{true}}>
        Vraag nieuwe subsidie aan
      </AuButton>
      <p class="au-u-margin-top-small">
        Bekijk <a href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies" target="_blank"
                  rel="noopener noreferrer">inhoudelijke informatie over de subsidies</a> die je hier kan aanvragen.
      </p>
    </div>
  </AuToolbarGroup>
</AuToolbar>
<div class="au-c-data-table">
  <div class="au-c-data-table__wrapper">
    <table class="au-c-data-table__table">
      <thead>
      <tr>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">
          Subsidiemaatregel
            <button class="au-c-data-table__sort">
            <AuIcon @icon="nav-up-down" @allignment="right"/>
            </button>
        </span>
        </th>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">
          Periode
            <button class="au-c-data-table__sort">
            <AuIcon @icon="nav-up-down" @allignment="right"/>
            </button>
          </span>
        </th>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">
            Indienen tot
            <button class="au-c-data-table__sort">
            <AuIcon @icon="nav-up-down" @allignment="right"/>
            </button>
          </span>
        </th>
        <th><span class="au-c-data-table__header-title">Gewijzigd door</span>
        </th>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">
            Laatst bewerkt
            <button class="au-c-data-table__sort">
            <AuIcon @icon="nav-up-down" @allignment="right"/>
            </button>
          </span>
        </th>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">
            Status
            <button class="au-c-data-table__sort">
            <AuIcon @icon="nav-up-down" @allignment="right"/>
            </button>
          </span>
        </th>
        <th>
          <span class="au-c-data-table__header-title au-c-data-table__header-title--sortable"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="au-u-text-center" colspan="7">
          <AuLoader @size="small"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>