<td>
  {{#if this.observation}}
    <AuLabel class="au-u-hidden-visually">Waarde</AuLabel>
    {{input class="au-c-input au-c-input--block" type="number" step=this.step value=this.observation.value focus-out=(action "setValue") name="quantity"}}
  {{else}}
    {{!-- No observation found --}}
  {{/if}}
</td>
