
  {{#each sortedChildren as |child|}}
    <div class="form__row">
      <div class="form__label">
        <label class="form__label" form="orgaan">{{child.label}}</label>
      </div>
      {{toezicht/edit-child model=child solution=solution class="form__input"}}
    </div>
  {{/each}}

{{yield}}

