{{toezicht/inzending-edit-header inzending=inzending isNew=isNew onClose=(action "close")}}

<div class="container-flex--scroll u-padding--round--small">
  {{toezicht/root-form-node model=model}}
</div>
2
