<div class="grid">
  <div class="col--9-12">
    {{shared/document-status-pill inzending.status class="u-spacer--small"}}
    {{#if isNew}}
      <h1 class="h3 u-spacer--none">Aanlevering nieuw dossier</h1>
    {{else}}
      <h1 class="h3 u-spacer--none">Bekijk aanlevering dossier</h1>
    {{/if}}
    <p class="u-spacer--small">Maak per besluit of besluitenlijst één dossier aan.</p>
  </div>
  <div class="col--3-12 u-align--right">
    <a {{action "close"}} class="link--icon--close" data-test-loket="close-button">
      <span class="u-visually-hidden">Venster sluiten</span>
    </a>
  </div>
</div>
