{{#wu-modal onClose=(action "cancel") as |m| }}
    <h2 class="modal-dialog__title">Bent u zeker dat u het concept wil verwijderen?</h2>
  {{#m.content class="modal-dialog__content u-spacer"}}
    Deze actie is onomkeerbaar.
  {{/m.content}}
  {{#m.buttons class="modal-dialog__buttons" as |b| }}
    {{b.button label="Verwijder" onClick=(action 'confirm') class="button modal-dialog__button delete-me-toggle-modal-save delete-me-toggle-save-toasters"}}
    {{b.button label="Annuleer" onClick=(action 'cancel') class="button button--narrow button--alt modal-dialog__button delete-me-toggle-modal-save"}}
  {{/m.buttons}}
{{/wu-modal}}
