<span {{did-insert (perform this.loadData)}}></span>
{{#if this.loadData.lastSuccessful}}
  {{#if this.decisionType}}
    <p>{{this.decisionType.label}}</p>
  {{else}}
    <p class="text-fade">Geen type</p>
  {{/if}}
  <p class="text-fade">{{this.regulationType.label}}</p>
{{/if}}
