{{#if url.replicatedFile.downloadLink}}
  <a href="{{url.replicatedFile.downloadLink}}" download>Download voorbeeld</a>
{{else}}
  <p>Geen voorbeeld</p>
{{/if}}
{{input
  class="input-field input-field--block input-field--small"
  placeholder="http://wwww.uw-bestuur.be/specifiek-document"
  name="URL-besluit-URL"
  value=(mut url.address)
}}