<div class="form__row u-padding--tb--tinier">
  <table class="data-table data-table--tight u-spacer--bottom--tiny">
    <thead>
      <tr>
        <td colspan="2">
        	<p><strong>Links naar documenten</strong></p>
        	{{#unless disabled}}
            <p class="small">Enkel links naar specifieke documenten, geen overzichtspagina's.</p>
          {{/unless}}
        </td>
      </tr>
    </thead>
    <tbody data-test-mn="url-box-list">
      {{#if saveAddress.isRunning}}
        Link aan het controleren...
      {{else}}
        {{#each urls as |url|}}
          <tr>
            {{toezicht/url-line url=url editable=(not disabled) onDelete=onDelete}}
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
	{{#unless disabled}}
	  <button class="button button--tiny js-accordion-bound"
	    {{action "addUrlField"}}>
	    <i class="vi vi-plus button__icon" aria-hidden="true"></i> Voeg link toe
	  </button>
	{{/unless}}
</div>
