{{page-title "Kerngegevens"}}

<AuHeading @skin="2">
  Kerngegevens
</AuHeading>
<AuHeading @skin="3">
  {{this.currentSession.group.naam}}
  ({{this.currentSession.groupClassification}})
</AuHeading>
<div class="au-u-para">
  There should be a log here:
  {{! template-lint-disable no-log }}
  {{this.currentSession.bestuurseenheden}}
</div>