<div class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    {{#if session.isAuthenticated}}
      <section class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading class="au-u-margin-bottom">Contact</AuHeading>
          {{contact-form}}
        </div>
      </section>
    {{else}}
      <div role="banner" class="au-c-content-header">
        <picture class="au-c-content-header__bg">
          <img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="Foto van een laptop met daarop het vlaanderen logo.">
        </picture>
        <div class="au-c-content-header__wrapper">
          <div class="au-o-layout">
            <span class="au-c-content-header__top">
              Vlaanderen
            </span>
            <span class="au-c-content-header__bottom">
              is lokaal bestuur
            </span>
          </div>
        </div>
      </div>
      <section class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading class="au-u-margin-bottom">Contact</AuHeading>
          {{contact-form}}
        </div>
      </section>
    {{/if}}
    {{outlet}}

    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
        Loket.lblod.info is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @linkRoute="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @linkRoute="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>