<div class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    {{#unless this.session.isAuthenticated}}
      <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
        <img
          sizes="50vw"
          src="/assets/images/loket-header-1600.jpg"
          srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
          alt=""
        >
      </AuContentHeader>
    {{/unless}}

    <section class="au-o-region-large">
      <div class="au-o-layout">
        <AuHeading class="au-u-margin-bottom">Contact</AuHeading>
        <ContactForm/>
      </div>
    </section>

    {{outlet}}

    <AuMainFooter>
      <Shared::FooterHeading/>
      <AuContent @skin="small">
        <p>Uitgegeven door <AuLinkExternal href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</AuLinkExternal></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>