<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <header class="content-header content-header--small content-header--half-image u-spacer">
      <div class="content-header__wrapper">
        <picture class="content-header__bg"><img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="" title=""></picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Vlaanderen</span><span class="content-header__entity-logo__title">is lokaal bestuur</span></a></div>
          </div>
        </div>
      </div>
    </header>

    <section class="region">
      <div class="layout layout--wide">
        <div class="grid">
          <div class="col--1-1--s col--8-12--m col--6-12">
            <h1 class="h1">Loket voor lokale besturen</h1>
            <p class="u-spacer--tiny">Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet, contacteer <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">gebruikersbeheer Vlaanderen</a>.</p>
            <p class="u-spacer--tiny">Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.</p>
          </div>
          <div class="col--1-1--s col--4-12--m col--6-12 u-align-right--tablet-portrait-up">
            {{acmidm-login}}
          </div>
        </div>
      </div>
    </section>

    <section class="region region--alt">
      <div class="layout layout--wide">
        <h2 class="h3 u-spacer">De functionaliteiten in het nieuwe loket</h2>
        <div class="grid grid--is-stacked u-spacer">
          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-book" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">Toezicht</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Bezorg besluiten en overzichtslijsten elektronisch aan de toezichthoudende overheid.</p>
                </div>
                <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    <a class="button button--narrow" href="https://lokaalbestuur.vlaanderen.be/mijn-binnenland" target="_blank">Meer informatie</a>
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-mail" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">Berichtencentrum</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Bekijk en reageer op de berichten van de toezichthoudende overheid.</p>
                </div>
                <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    <a class="button button--narrow" href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-berichtencentrum" target="_blank">Meer informatie</a>
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#berichtencentrum" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-paperclip" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">BBC-DR</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Bezorg de digitale rapporten aan de Vlaamse Regering over de beleids- en beheerscyclus (BBC).</p>
                </div>
                <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    <a class="button button--narrow" href="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering" target="_blank">Meer informatie</a>
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-addressbook" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">Mandatenbeheer</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Hou de mandaten binnen de gemeenteraad, college van burgemeester en schepenen, raad voor maatschappelijk welzijn, vast bureau en bijzonder comité voor de sociale dienst bij.</p>
                </div>
                <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    <a class="button button--narrow" href="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank" target="_blank">Meer informatie</a>
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#mandatenbeheer" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-addressbook" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">Leidinggevendenbeheer</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Hou hier de leidinggevende functies voor uw bestuur bij.</p>
                </div>
	              <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#leidinggevendenbeheer" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

          <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
            <div class="info-tile info-tile--m info-tile--center">
              <div>
                <div class="info-tile__header">
                  <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                    <i class="badge__icon vi vi-addressbook" aria-hidden="true"></i>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h3 class="info-tile__header__title">Personeelsbeheer</h3>
                  </div>
                </div>
                <div class="info-tile__content">
                  <p>Hou hier de personeelsaantallen voor uw bestuur bij.</p>
                </div>
	              <footer class="info-tile__footer">
                  <p class="u-spacer--tiny">
                    {{!-- <a class="button button--narrow" href="https://lokaalbestuur.vlaanderen.be/personeelsbeheer" target="_blank">Meer informatie</a> Nog specifieke pagina beschikbaar WACHTEN OP PIETER--}}
                    <a class="button button--alt button--narrow" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#personeelsbeheer" target="_blank">Handleiding</a>
                  </p>
                </footer>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
  {{wu-widget src=footer}}
</div>
