<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <main id="content">
      <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
        <img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="Foto van een laptop met daarop het vlaanderen logo.">
      </AuContentHeader>

      <section class="au-o-region-large">
        <div class="au-o-layout">
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
              <AuContent @skin="large">
                <h1>Loket voor lokale besturen</h1>
                <p>Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet, contacteer <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer" class="au-c-link">gebruikersbeheer Vlaanderen</a>.</p>
                <p>Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.</p>
              </AuContent>
            </div>
            <div class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium">
              <AcmidmLogin/>
            </div>
          </div>
        </div>
      </section>

      <section class="au-o-region-large au-u-background-gray-200">
        <div class="au-o-layout">
          <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">De functionaliteiten in het loket</AuHeading>
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="search-folder">
                  <AuHeading @level="3" @skin="4">
                    Toezicht
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Bezorg besluiten en overzichtslijsten elektronisch aan de toezichthoudende overheid.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/mijn-binnenland" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="message">
                  <AuHeading @level="3" @skin="4">
                    Berichtencentrum
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Bekijk en reageer op de berichten van de toezichthoudende overheid.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-berichtencentrum" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#berichtencentrum" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="document">
                  <AuHeading @level="3" @skin="4">
                    BBC-DR
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Bezorg de digitale rapporten aan de Vlaamse Regering over de beleids- en beheerscyclus (BBC).</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="user-fill">
                  <AuHeading @level="3" @skin="4">
                    Mandatenbeheer
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Hou de mandaten binnen de gemeenteraad, college van burgemeester en schepenen, raad voor maatschappelijk welzijn, vast bureau en bijzonder comité voor de sociale dienst bij.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#mandatenbeheer" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="user-popup">
                  <AuHeading @level="3" @skin="4">
                    Leidinggevendenbeheer
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Hou hier de leidinggevende functies voor uw bestuur bij.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/personeel/databank-leidinggevenden" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#leidinggevendenbeheer" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="users">
                  <AuHeading @level="3" @skin="4">
                    Personeelsbeheer
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Hou hier de personeelsaantallen voor uw bestuur bij.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#personeelsbeheer" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>

            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="documents">
                  <AuHeading @level="3" @skin="4">
                    Subsidiebeheer
                  </AuHeading>
                </c.header>
                <c.content>
                  <p class="au-u-margin-top-tiny">Volg hier uw aanvragen voor subsidiemaatregelen op.</p>
                </c.content>
                <c.footer>
                  <p>
                    <a class="au-c-button" href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies" target="_blank" rel="noopener noreferrer">Meer informatie</a>
                    <a class="au-c-button au-c-button--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#subsidiebeheer" target="_blank" rel="noopener noreferrer">Handleiding</a>
                  </p>
                </c.footer>
              </AuCard>
            </div>
          </div>
        </div>
      </section>
    </main>

    <AuMainFooter>
      <Shared::FooterHeading/>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>
