<div class="layout layout--wide u-spacer--bottom--large" id="main">
  <ul class="steps steps--has-line">
    <li class="step step--no-box">
      <div class="step__wrapper">
        <div class="step__content-wrapper">
          <div class="step__content">
            {{#power-select
                options=model.bestuursorgaanWithBestuursperioden
                selected=selectedBestuursorgaan
                searchEnabled=false
                onchange=(action "select")
                as |orgaan|}}

              Bestuursperiode {{moment-format orgaan.bindingStart 'YYYY'}}
              -
              {{#if orgaan.bindingEinde}}
                {{moment-format orgaan.bindingEinde 'YYYY'}}
              {{else}}
                heden
              {{/if}}
            {{/power-select}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>



{{outlet}}
