{{page-title "Geen toegang"}}

<div class="au-o-layout au-o-region-large h-full">
  <div
    class="au-u-flex@medium au-u-flex--row-reverse au-u-flex--center au-u-flex--vertical-center h-full"
  >
    <div
      class="au-u-text-center au-u-text-left@medium au-u-margin-bottom au-u-margin-bottom-none@medium"
    >
      <img src="/assets/images/status/access-forbidden.svg" alt="" />
    </div>
    <div class="au-u-margin-right-large@medium au-o-flow">
      <AuHeading @skin="2">
        Oeps, die pagina is beveiligd
      </AuHeading>
      <AuContent>
        De pagina die u zoekt, vinden we niet terug of hebt u geen toegang toe.
      </AuContent>
      <div>
        <AuLink @route="index" @skin="button">Terug naar de startpagina</AuLink>
      </div>
    </div>
  </div>
</div>